.service {
  padding: 4rem 0 2rem;
}

.service__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.service__img {
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
}

.service__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.service__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: left;
  padding: 1rem 1.25rem;
}

.service__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
  height: 35px;
}

.service__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  text-align: left;
}

.service__subtitle {
  font-size: var(--tiny-font-size);
}

.service__description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .service__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .sub {
    margin-top: 1rem;
  }

  .second {
    margin: auto;
  }

  .service__img {
    width: 330px;
  }

  .service__box {
    padding: 0.75rem 0.5rem;
  }

  .service__data {
    text-align: center;
  }

  .service__info {
    justify-content: center;
  }

  .service__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/* For medium devices */

@media screen and (max-width: 576px) {
  .service__info {
    grid-template-columns: repeat(3, 1fr);
  }
  .service__description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .service__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
